
   /* ZuluIDE Control CSS */
 .hdn {display:none;}
 .wrap {text-wrap:wrap;}
 .action {color:#4a86e8}
 .anomaly-header {font-weight: bold;}
 .battle-order-header {font-weight: bold;}
 .agenda-header {font-weight: bold;}
 .blessing-header {font-weight: bold;}
 .blessing-reminder {display:none;}
 .anomalies {display: none;}
 .tactical-agenda {display: none;}
 .agenda-reminder {display: none;}
 .bonus-agenda-reminder {display: none;}