
   /* ZuluIDE Control CSS */
 .hdn {display:none;}
 .wrap {text-wrap:wrap;}
 .action {color:#4a86e8}
 .anomaly-header {font-weight: bold;}
 .anomalies {display: none;}
 .tactical-agenda {display: none;}